/* Chat CSS */

.chatbox {
  border: solid black 1px;
  margin-right: 30%;
  margin-left: 30%;
  padding: 20px;
  max-width: 500px;
  height: 750px;
}

.messagebox {
  max-height: 600px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.messageContent {
  display: block;
  clear: both;
}

.messageElement .container {
  margin-bottom: 20px;
}

.messageElement p {
  margin-top: 10px;
  max-width: 250px;
  word-wrap: break-word;
  border-radius: 10px;
  padding: 10px;
}

.messageContent small {
  position: relative;
  top: 3px;
}
