@media only screen and (max-width: 900px) {



   h2 {
       text-align: center;

       color: orangered;

       margin-top: 10%;

       font-family: "Josefin Sans";
       font-style: normal;
       font-size: 2.5em;
       font-variant: normal;
       font-weight: 700;
   }

   h3 {
       font-family: "Josefin Sans";
       font-size: 24px;
       font-style: normal;
       font-variant: normal;
       font-weight: 400;

       line-height: 20px;

       text-align: center;

       margin-left: 0;
   }

   h5 {
       font-family: "Josefin Sans";
       font-size: 18px;
       font-style: normal;
       font-variant: normal;
       line-height: 5px;

       margin-top: 15px;
       margin-bottom: 15px;
   }

   p {
       font-family: "Josefin Sans";
       font-size: 16px;
       font-style: normal;
       font-variant: normal;
       font-weight: 400;
       line-height: 20px;

       margin: 12px;
   }

   ul {
       text-decoration: none;

   }

   li {
       text-decoration: none;
       list-style-type: none;
   }

   #box {
       display: inline-block;
   }

   #all {
       height: 110px;
       width: 90%;

       margin-bottom: 15px;
       margin-left: -5%;
   

   }

   #list {

       width: 95%;

       border-radius: 2.5px;
       border:  1px;

       -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
       box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);

       padding-left: 15px;
       padding-top: 15px;
       padding-bottom: 10px;

       margin-bottom: 15px;

   }



  #wrapper {
       width: 120px;
       height: 120px;

       margin-top: -15px;

       image-orientation: inherit;

       float: left;
       overflow: hidden;

       border-radius: 5%;

       border: 5px solid white;
   }

   #picture {
       width: 150%;
       height: auto;
       float: left;

       position: absolute;
   }

   #splash-info {
       position: relative;
       z-index: 2;
       margin-bottom: 5px;
       font-size: 15px;
       font-weight: bold;
   }

   #foto{
       width: 100%;
   }

   #favor{
       height: 10%;
   }

   #space{
      height: 100vh;
   }

   img.zoekertje {
       width: 20px;
       height: auto;
   }

}