@media only screen and (min-width: 900px) {


  .loginImage {
    object-fit: cover;
    width: 50%;
    height: 100%;
    position: absolute;
  }

  .login {
    position: relative;
    width: 100%;
    margin-left: 100%;
  }

  .logo {
    width: 20%;
    position: relative;
    margin-left: 40%;
    margin-bottom: 10%;
  }

  h3 {
    font-family: "Josefin Sans";
    font-size: 2.3em;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 15.4px;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #151e3d;
    margin-top: 7%;

  }

  input:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;

  }

  #frame {
    height: 100%;
  }

  #loginBTN {
    background-color: orangered;
    border: none;
    width: 75%;
    margin-left: 12.5%;
  }

  #loginBTN:hover {
    background-color: rgb(255, 82, 20);
    border: none;
    width: 75%;
    margin-left: 12.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  a {
    color: orangered;
    text-decoration: none;
  }

  p {
    font-family: "Josefin Sans";
  }

  #email,
  #password {
    background: transparent;
    border: none;
    border-bottom: 2px solid #151e3d;
    border-radius: 0px;
    font-size: 1.3em;
    width: 100%;
  }

  input[name="captcha"] {
    width: 30%;
    margin-left: 30px;
  }

}

@media only screen and (max-width: 900px) {

  #img-log{
    visibility: hidden;
    height: 0px;
    width: 0px;
  }

  .login{
    max-height: 100vh !important;
  }

  .body-login {
    background-image: url("../images/background/potato-op40.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: cornsilk;

    object-fit: cover;

    max-height: 100vh !important;

  }

  .titel-login {
    font-family: "Josefin Sans";
    font-size: 2.3em;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;

    padding-left: 30px;
  }

  .input.login {
    background: transparent;
    border: none;
    border-bottom: 2px solid #151e3d;
  }

  .login-link {
    color: orangered;
    text-decoration: none;
  }

  .login-p {
    font-family: "Josefin Sans";
  }

  .captcha{
    margin-top: 25px;
    width: 100%;
  }

  #log-form{
    margin-top: 25px;
  }

  #label-fill {
    display: flex;
    flex-direction: column;

    font-family: "Josefin Sans";
  }

  #email,
  #password {
    background: transparent;
    border: none;
    border-bottom: 2px solid #151e3d;
    width: 100%;
  }

  #loginBTN {
    background-color: orangered;
    border: none;
    width: 90%;
    margin-left: 5%;
  }

  .logo {
    width: 30%;
    margin-left: 35%;
    margin-bottom: 15px;

  }

  /*----reg-choose----*/

  #img-log{
    visibility: hidden;
    height: 0px;
    width: 0px;
  }

  .titel-choose-reg {
    font-family: "Josefin Sans";
    font-size: 2.3em;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;

    line-height: 15.4px;

    text-align: center;

    padding-top: 175px;
    padding-bottom: 25px;
  }

  .choose-reg-knop {
    background-color: orangered;

    font-family: "Josefin Sans";
    font-size: 1.5em;

    color: white;

    border: none;
    border-radius: 5px;

    width: 90%;

    padding: 10px, 10px, 10px, 10px;

    margin-top: 15px;
    margin-left: 5%;
  }
}