@media only screen and (min-width: 900px) {
  nav {
    width: 80px;
    height: 95%;
    position: fixed;
    background-color: #d5d962;
    top: 2.5%;
    margin: auto;
    margin-bottom: 3%;
    border-radius: 5px;

    z-index: 100;
  }

  img {
    width: 40px;
  }

  .alles {
    width: 100%;

    display: inline-block;

    text-align: center;

    padding-left: 20%;

    margin-left: -25%;
    margin-top: 20%;

    /*padding: 0px;
        padding-left: 10px;*/
  }

  .listItem {
    display: inline-block;
    opacity: 50%;
    margin-top: 65%;
    margin-bottom: 65%;
  }


  .listItem:checked {
    opacity: 100%;
  }



#knopje {
    display: none;
  }

  .home-logo {
    display: none;
  }




    
}

@media only screen and (max-width: 900px) {
  nav {
    width: 90%;
    height: 65px;
    position: fixed;
    background-color: #d5d962;
    top: 88%;
    margin: auto;
    margin-left: 3%;
    border-radius: 5px;

    z-index: 100;
  }

  img {
    width: 40px;
  }

  .alles {
    width: 100%;

    display: inline-block;

    text-align: center;

    padding-left: 15px;

    margin-left: -5%;
    margin-top: 12px;

    /*padding: 0px;
        padding-left: 10px;*/
  }

  .listItem {
    display: inline-block;
    opacity: 50%;

    padding-left: 10px;
    padding-right: 10px;
  }


  .active {
    opacity: 100%;
    background-color: #d5d962;
  }



  #knopje {
    display: none;
  }

  .home-logo {
    display: none;
  }
}