@media only screen and (min-width: 900px) {


  nav {
    width: 35%;
    height: 75px;
    position: fixed;
    background-color: #d5d962;
    top: 88%;
    margin: auto;
    margin-left: 30%;
    border-radius: 5px;

    z-index: 100;
  }

  .nav-img {
    width: 50px;
  }

  .alles {
    width: 100%;

    display: inline-block;

    text-align: center;

    padding-left: 15px;

    margin-left: -5%;
    margin-top: 12px;

    /*padding: 0px;
        padding-left: 10px;*/
  }

  .listItem {
    display: inline-block;
    opacity: 50%;

    padding-left: 10px;
    padding-right: 10px;
  }

  .active {
    opacity: 100%;
    background-color: #d5d962;
  }

  .home-logo {
    display: none;
  }
}

  


@media only screen and (max-width: 900px) {
  nav {
    width: 90%;
    height: 65px;
    position: fixed;
    background-color: #d5d962;
    top: 88%;
    margin: auto;
    margin-left: 3%;
    border-radius: 5px;

    z-index: 100;
  }

  .nav-img {
    width: 40px;
  }

  .alles {
    width: 100%;

    display: inline-block;

    text-align: center;

    padding-left: 15px;

    margin-left: -5%;
    margin-top: 12px;

    /*padding: 0px;
        padding-left: 10px;*/
  }

  .listItem {
    display: inline-block;
    opacity: 50%;

    padding-left: 10px;
    padding-right: 10px;
  }

  .active {
    opacity: 100%;
    background-color: #d5d962;
  }

  .home-logo {
    display: none;
  }
}
