

@media only screen and (min-width: 900px) {

.container{
    margin-left: 10%;
    margin-top: 5%;
}

h2 {

    color: orangered;


    font-family: "Josefin Sans";
    font-style: normal;
    font-size: 2.5em;
    font-variant: normal;
    font-weight: 700;
 }


 p { 
    font-family: "Josefin Sans";
    font-size: 1.5em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}



    
  }
  @media only screen and (max-width: 900px) {


    
    h2 {
          text-align: center;
    
          color: orangered;
    
          margin-top: 10%;
    
          font-family: "Josefin Sans";
          font-style: normal;
          font-size: 2.5em;
          font-variant: normal;
          font-weight: 700;
       }

    h5 { 
        font-family: "Josefin Sans";
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;
    }

    #box{
        display: inline-block;
    }
    
    #all{
        height: 110px;
        width: 80%;

        margin-bottom: 15px;
    }

    #list{

        width: 95%;

        border-radius: 5px;

        margin-left: 20%;
        margin-bottom: 15px;
    
    }

    

    #wrapper {
        width: 100px;
        height: 100px;
        
        margin: 5px auto;
        overflow: hidden;
        border-radius: 5%;
        border: 5px solid white;
    }

    #list img {
        width: 100%;
        height: auto;
    }

    #splash-info {
        position: relative;
        z-index: 2;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: bold;
    }

    }