@media only screen and (max-width: 900px) {
  h2 {
    text-align: center;

    color: orangered;

    margin-top: 5%;

    font-family: "Josefin Sans";
    font-style: normal;
    font-size: 3.5em;
    font-variant: normal;
    font-weight: 700;
}

h3 {
    font-family: "Josefin Sans";
    font-size: 1.5em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;

    line-height: 20px;

    margin-left:40% ;

}

h5 {
    font-family: "Josefin Sans";
    font-size: 1.5em;
    font-style: normal;
    font-variant: normal;
    line-height: 5px;

    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    font-family: "Josefin Sans";
    font-size: 1.3em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;

    margin: 12px;
}

ul {
    text-decoration: none;

}

li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
}

.text-primary{
    margin-top: 15px;
}

#box {
    display: inline-block;
}

#all {

    display: inline-block;

    height: 110px;
    width: 90%;

    margin-bottom: 15px;
    margin-left: 10%;

}

#list {

    width: 25%;
    height: 150%;

    border-radius: 2.5px;
    border:  1px;

    -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);

    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 10px;

    margin-bottom: 15px;
    margin-left: 2%;

}



#wrapper {
    width: 150px;
    height: 150px;

    margin-top: -10px;

    image-orientation: inherit;

    float: left;
    overflow: hidden;

    border-radius: 5%;

    border: 5px solid white;
}

#picture {
    background-size: cover;
    width: 150%;
    height: auto;
    float: left;



    position: absolute;
}

#splash-info {
    position: relative;
    z-index: 2;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}

#foto{
    width: 100%;
}

img.zoekertje {
    width: 20px;
    height: auto;
}

  
}
@media only screen and (max-width: 900px) {
  h2 {
    text-align: center;

    color: orangered;

    margin-top: 10%;

    font-family: "Josefin Sans";
    font-style: normal;
    font-size: 2.5em;
    font-variant: normal;
    font-weight: 700;
  }

  button {
    color: orangered;
  }

  #top {
    margin-top: 15%;
  }

  #title {
    height: 50px;

    border: none;

    -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
  }

  #description {
    height: 100px;

    border: none;

    -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
  }

  #quantity {
    margin-left: 8%;

    border: none;

    height: 50px;
    width: 120%;

    -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
  }

  #unit {
    width: 80%;
    height: 50px;

    border: none;

    margin-left: 45%;

    -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
  }

  #price {
    margin-left: 8%;
    margin-top: -10px;

    border: none;

    -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);

    width: 120%;
    height: 50px;
  }

  #currency {
    width: 58%;
    height: 50px;

    border: none;

    margin-left: 34%;
    margin-top: -10px;

    -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
  }

  #item_image.button {
    font-family: "Josefin Sans";
    font-style: normal;
    font-variant: normal;

    border: none;

    text-align: center;
    color: #000000;
  }

  .button + input {
    background-color: #d5d962;
    color: #ffffff;

    border: none;
  }

  #button_or {
    font-family: "Josefin Sans";
    font-style: normal;
    font-variant: normal;

    border: none;
    border-radius: 5px;

    background-color: orangered;
    color: #ffffff;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    margin-left: 36%;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 900px) {
  h2 {
    color: orangered;

    margin-top: 10%;

    font-family: "Josefin Sans";
    font-style: normal;
    font-size: 2.5em;
    font-variant: normal;
    font-weight: 700;
  }

   #button_or {
      background-color: orangered;
      color: #ffffff;
      border: none;
      padding-right: 40px;
      padding-left: 40px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 1.5em;
      font-family: "Josefin Sans";

   }  
   #top {
      margin-top: 10%;
    }
   form{

      margin-left: -40%;
      margin-top: 4%;
      }

   body{
      background-image: url("../images/background/LongBackground.png");
      background-repeat: no-repeat;
      background-size: 40% 250%;
      top: 0;
      background-position: right ;
   }
   #title {
      height: 50px;
  
      border: none;
  
      -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
      box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }
  
    #description {
      padding-bottom: 100px;
  padding-top: 20px;;
      border: none;
  
      -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
      box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }
  
    #quantity {
      margin-left: 8%;
  
      border: none;
  
      height: 50px;
      width: 120%;
  
      -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
      box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }
  
    #unit {
      width: 80%;
      height: 50px;
  
      border: none;
  
      margin-left: 45%;
  
      -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
      box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }
  
    #price {
      margin-left: 8%;
      margin-top: -10px;
  
      border: none;
  
      -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
      box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
  
      width: 120%;
      height: 50px;
    }
  
    #currency {
      width: 58%;
      height: 50px;
  
      border: none;
  
      margin-left: 34%;
      margin-top: -10px;
  
      -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
      box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }
  
    #item_image.button {
      font-family: "Josefin Sans";
      font-style: normal;
      font-variant: normal;
  
      border: none;
  
      text-align: center;
      color: #000000;
    }
  
}
@media only screen and (max-width: 900px) {
  h2 {
    text-align: center;

    color: orangered;

    margin-top: 10%;

    font-family: "Josefin Sans";
    font-style: normal;
    font-size: 2.5em;
    font-variant: normal;
    font-weight: 700;
  }

  button {
    color: orangered;
  }

  #top {
    margin-top: 15%;
  }

  #title {
    height: 50px;

    border: none;

    -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
  }

  #description {
    height: 100px;

    border: none;

    -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
  }

  #quantity {
    margin-left: 8%;

    border: none;

    height: 50px;
    width: 120%;

    -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
  }

  #unit {
    width: 80%;
    height: 50px;

    border: none;

    margin-left: 45%;

    -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
  }

  #price {
    margin-left: 8%;
    margin-top: -10px;

    border: none;

    -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);

    width: 120%;
    height: 50px;
  }

  #currency {
    width: 58%;
    height: 50px;

    border: none;

    margin-left: 34%;
    margin-top: -10px;

    -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
  }

  #item_image.button {
    font-family: "Josefin Sans";
    font-style: normal;
    font-variant: normal;

    border: none;

    text-align: center;
    color: #000000;
  }

  .button + input {
    background-color: #d5d962;
    color: #ffffff;

    border: none;
  }

  #button_or {
    font-family: "Josefin Sans";
    font-style: normal;
    font-variant: normal;

    border: none;
    border-radius: 5px;

    background-color: orangered;
    color: #ffffff;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    margin-left: 36%;
    margin-bottom: 20px;
  }
}
