/* ---------------DESKTOP VERSIE ---------------- */

@media only screen and (min-width: 900px) {

    /*----- algemeen -----*/

    body {
        height: 100vh;


    }

    /*-----NAVIGATIE BAR----- */

    .nav-img {
        display: none;

    }

    .listItem {
        text-decoration: none;
        list-style-type: none;
        display: inline-block;
    }

    #navbar-full {
        float: right;
        margin-right: 0%;

        z-index: 100;

        padding-right: 15px;
    }


    .home-logo {
        display: none;
    }

    .alles {
        width: 40vw;

        display: inline-block;

        text-align: left;

        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .nav-link {
        text-decoration: none;

        font-family: "Josefin Sans";
        font-size: 20px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .nav-link:hover {
        color: orangered;
    }

    .nav-bar_name {
        text-decoration: none;

        padding-left: 5px;

        color: #ffffff;
    }

    .card-text{
        font-family: "Josefin Sans";
        font-size: 1.3em;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;
    }

    /*-----detail item page-----*/ 

    .container {
        display: inline-flex;

        padding:0;
    }

    
    #list-decoration{
        padding: 0;
    }

    .card-body{
        background-color: #f8f8f8;
    }

    #all-detail{
        height: auto;
        width: 100%;
        display: flex;
    }
    .card-img-top{
        border: none;
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }

    /*-----navbar - profiel-----*/

    .icon-full-nav-profile {

        float: center;

        margin-top: 25px;
        margin-left: 40%;
        margin-bottom: 5%;

        z-index: 150;
    }

    .icons {
        width: 40px;
        height: 40px;

        margin-right: 15px;
        margin-left: 15px;


    }

    /*------settings - profiel-----*/

    #settings-body {
        background-image: url("/images/background/field-dark.png");
        background-repeat: no-repeat;
        background-size: 100% 22%;
        top: 0;
        background-position: top;
    }

    .all-item_full {
        height: 100vh;
    }

    .item_profile {
        width: 35%;

        text-align: center;

        border-radius: 5px;

        background-color: #ffffff;

        margin-bottom: 15px;
        margin-left: 32%;

        padding-top: 15px;
        padding-bottom: 15px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    .instel {
        text-decoration: none;

        color: #000000;

        font-family: "Josefin Sans";
        font-size: 25px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
    }


    /*-----Fonts-----*/

    .hoofdtitel {
        text-align: left;

        margin-left: 0;

        color: orangered;

        margin-top: 5%;

        font-family: "Josefin Sans";
        font-style: normal;
        font-size: 5em;
        font-variant: normal;
        font-weight: 700;

    }

    .subtitel {
        text-align: left;

        margin-left: 10%;

        color: orangered;

        margin-top: 10%;

        font-family: "Josefin Sans";
        font-style: normal;
        font-size: 2.5em;
        font-variant: normal;
        font-weight: 700;

    }

    /*-----profiel instellingen-----*/

    #Profiel-instellingen-body {
        background-image: url("/images/background/field-dark.png");
        background-repeat: no-repeat;
        background-size: 100% 22%;
        top: 0;
        background-position: top;
    }

    .profile-settings-image {
        margin-left: 20%;
        margin-bottom: 5%;
        margin-top: 5%;


    }

    .form-control-settings {
        width: 50%;
        height: 50px;

        margin-left: 15%;
        margin-top: 15px;

        border: none;

        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 16px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }


    .new-profile-image {
        width: 100%;
        height: auto;

        object-fit: cover;

    }

    .spacing-bottom {
        height: 100px;
    }

    .button-profile-img {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        border: none;
        border-radius: 5px;
        font-size: 1em;

        background-color: orangered;
        color: #ffffff;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        width: 25%;
        margin-left: 5%;
        margin-bottom: 20px;
    }


    .button-profile {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        border: none;
        border-radius: 5px;
        font-size: 1em;

        background-color: orangered;
        color: #ffffff;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        width: 15%;

        margin-top: 15px;
        margin-left: 30%;
        margin-bottom: 20px;
    }

    .file-button {
        color: #000000;

        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        text-align: center;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5%;
        padding-right: 5%;

        margin-left: 5%;
        margin-bottom: 20px;
    }

    /* -----INDEX----- */


    #list {
        display: inline-block;
        text-decoration: none;
        list-style-type: none;
    }

    #index-body {
        background-image: url("/images/background/field-dark.png");
        background-repeat: no-repeat;
        background-size: 100% 22%;
        top: 0;
        background-position: top;
    }



    #box {
        display: inline-block;
    }

    #all {

        display: flex;

        height: auto;
        width: 90%;

        margin-bottom: 15px;
        margin-left: 5%;
        margin-top: 5%;

    }

    #all-buurt {

        display: inline-block;

        height: auto;
        width: 90%;

        margin-bottom: 15px;
        margin-left: 5%;

    }


    

    #list {

        width: 255px;
        height: auto;

        border-radius: 2.5px;
        border: 1px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);


        padding-top: 15px;
        padding-bottom: 10px;

        margin-bottom: 15px;
        margin-left: 6%;

    }



    #wrapper {
        width: 100%;
        height: 200px;

        object-fit: cover;

        margin-top: -10px;

        float: left;
        overflow: hidden;

        border-radius: 2.5%;
    }

    #picture {
        background-size: cover;
        width: 100%;
        height: 200px;
        float: left;

        object-fit: cover;


        position: absolute;
    }

    #splash-info {
        position: relative;
        z-index: 2;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: bold;
    }

    #foto {
        width: 150px;
    }



    #knop {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        overflow: hidden;
        outline: none;

    }

    .favor-img {
        width: 25px;
    }

    .fav-but {
        width: 25px;
        margin-left: 45%;
    }



    .text-primary {
        font-family: "Josefin Sans";
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;

        margin: 12px;
        padding-top: 5px;
    }

    .titel-index {
        font-family: "Josefin Sans";
        font-size: 26px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;

        line-height: 20px;

        text-align: left;

        margin-left: 4%;

        width: 80%;

        padding-top: 25px;
        padding-bottom: 10px;
        padding-left: 25px;

        border-radius: 5px;

        background-color: #ffffff;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.2);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.2);
    }

    /*-----detail item page-----*/

    #info-farmer {
        margin-top: -7%;
    }


    /*-----search / items pagina-----*/


    #search-body {
        background-image: url("/images/background/field-dark.png");
        background-repeat: no-repeat;
        background-size: 100vw 22%;
        top: 0;
        background-position: top;
    }

    .search-bar{
        width: 250px;
        height:30px;

        margin-left: 15%;
        margin-top: 15px;

        padding-left: 15px;

        font-family: "Josefin Sans";
        font-size: 18px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;

        border: none;
        border-radius: 15px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    .form-control-search{
        width: 250px;
        height: 30px;

        border: none;
        border-radius: 2px;

        margin-left: 11%;

        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 16px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }


    .zoekertje {
        width: 20px;
        height: auto;
    }


    #button_or_search {
        display: inline-block;
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 1em;

        border: none;
        border-radius: 5px;

        background-color: orangered;

        color: #ffffff;

        padding-top: 5px;
        padding-bottom:5px;
        padding-left: 10px;
        padding-right: 10px;

        text-align: center;

        width: auto;

        margin-left:40%;
        margin-bottom: 20px;
    }

    /*-----sell menu-----*/

    #sell-body {
        background-image: url("/images/background/field-dark.png");
        background-repeat: no-repeat;
        background-size: 100% 22%;
        top: 0;
        background-position: top;
    }

    #unit {
        margin-left: 15px;
        margin-top: 1px;
    }

    .registerForm {
        padding-top: 5%;
    }

    .form-sell {
        width: 50%;
        margin-left: 10%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
        height: 50px;

        border: none;

        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 16px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    #top {
        margin-top: 0px;
    }

    #title {
        height: 50px;

        border: none;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    #description {
        height: 100px;

        border: none;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }


    #quantity {


        border: none;


        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }


    #price {

        border: none;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);

    }

    #currency {

        margin-left: 28px;

        width: 120%;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    #item_image.button {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;

        border: none;

        text-align: center;
        color: #000000;
    }

    .button+input {
        background-color: #d5d962;
        color: #ffffff;

        border: none;
    }


    #bedrag {
        display: flex;
        width: 50%;
    }

    #hoeveelheid {
        display: flex;
        width: 50%;
    }

    #item_image.button {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;

        border: none;

        text-align: center;
        color: #000000;
    }


    .button+input {
        background-color: #d5d962;
        color: #ffffff;

        border: none;
    }

    #button_or {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 1.5em;

        border: none;
        border-radius: 1px;

        background-color: orangered;
        color: #ffffff;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;

        margin-left: 25%;
        margin-top: 2%;
    }

    /*-----cart/winkelkar-----*/

    #cart-body {
        background-image: url("/images/background/field-dark.png");
        background-repeat: no-repeat;
        background-size: 100% 22%;
        top: 0;
        background-position: top;
    }


    /*-----favor-----*/

    #favor-body {
        background-image: url("/images/background/field-dark.png");
        background-repeat: no-repeat;
        background-size: 100% 22%;
        top: 0;
        background-position: top;
    }

    #del-fav {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        border: none;
        border-radius: 5px;
        font-size: 0.8em;

        background-color: red;
        color: #ffffff;

        padding-top: 5px;
        padding-bottom: 5px;

        text-align: center;

        width: 100%;

        margin-top: 5px;
        margin-left: 5%;
        margin-bottom: 5px;
    }

    /*-----bought-----*/

    #bought-body {
        background-image: url("/images/background/field-dark.png");
        background-repeat: no-repeat;
        background-size: 100% 22%;
        top: 0;
        background-position: top;
    }

    /*-----settings-----*/

    .instel {
        text-decoration: none;

        color: #000000;

        font-family: "Josefin Sans";
        font-size: 25px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;



    }

    .all_item {
        margin-top: 10%;

    }

    .item {
        width: 35%;

        text-align: center;

        border-radius: 5px;

        background-color: #ffffff;

        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 32%;

        padding-top: 15px;
        padding-bottom: 15px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }






}



/*---------------MOBIELE VERSIE---------------*/

@media only screen and (max-width: 900px) {

    /*-----NAVIGATIE BAR----- */

    #navbar-full {
        width: 90%;
        height: 55px;
        position: fixed;
        background-color: #d5d962;
        top: 88%;
        margin: auto;
        margin-left: 3%;
        border-radius: 35px;

        z-index: 100;
    }

    .nav-img {
        width: 30px;
    }

    .nav-bar_name {
        display: none;
    }

    .alles {
        width: 100%;

        display: inline-block;

        text-align: left;


        margin-top: 12px;
    }

    .listItem {
        display: inline-block;
        opacity: 50%;
        padding-left: 2.5%;
        padding-right: 2.5%;

    }

    .active {
        opacity: 100%;
        background-color: #d5d962;
    }

    .home-logo {
        display: none;
    }

    /*-----navbar - profiel-----*/
    .icon-full-nav-profile {
        margin-left: 10%;
    }

    .icons {
        width: 40px;
        height: 40px;

        margin-right: 15px;
        margin-left: 15px;


    }

    
    /*----search/item menu*/
    .search-bar{
        width: 250px;
        height:30px;

        margin-left: 11%;
        margin-top: 15px;

        padding-left: 15px;

        font-family: "Josefin Sans";
        font-size: 18px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;

        border: none;
        border-radius: 15px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    .form-control-search{
        width: 260px;
        height: 30px;

        border: none;
        border-radius: 2px;

        margin-left: 8%;

        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 16px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }



    #button_or_search {
        display: inline-block;
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 1em;

        border: none;
        border-radius: 5px;

        background-color: orangered;

        color: #ffffff;

        padding-top: 5px;
        padding-bottom:5px;
        padding-left: 10px;
        padding-right: 10px;

        text-align: center;

        width: auto;

        margin-left:40%;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    /*------settings - profiel-----*/


    .item_profile {
        width: 80%;

        text-align: center;

        border-radius: 5px;

        background-color: #ffffff;

        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 10%;

        padding-top: 15px;
        padding-bottom: 15px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    .instel {
        text-decoration: none;

        color: #000000;

        font-family: "Josefin Sans";
        font-size: 25px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
    }



    /*-----FONTS-----*/

    h2 {
        text-align: center;

        color: orangered;

        margin-top: 10%;

        font-family: "Josefin Sans";
        font-style: normal;
        font-size: 2.5em;
        font-variant: normal;
        font-weight: 700;
    }

    .subtitel {
        text-align: left;

        margin-left: 10%;

        color: orangered;

        margin-top: 10%;

        font-family: "Josefin Sans";
        font-style: normal;
        font-size: 1.5em;
        font-variant: normal;
        font-weight: 700;

    }

    /*------settings - profiel-----*/


    .profile-settings-image {
        margin-left: 30%;
        margin-top: 5%;
    }

    .form-control-settings {
        width: 90%;
        height: 50px;

        margin-left: 5%;
        margin-top: 15px;

        border: none;

        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 16px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }


    .new-profile-image {
        width: 100%;
        height: auto;

        object-fit: cover;

    }

    .spacing-bottom {
        height: 100px;
    }

    .button-profile-img {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        border: none;
        border-radius: 5px;
        font-size: 1em;

        background-color: orangered;
        color: #ffffff;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        width: 50%;
        margin-left: 0%;
        margin-bottom: 20px;
    }


    .button-profile {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        border: none;
        border-radius: 5px;
        font-size: 1em;

        background-color: orangered;
        color: #ffffff;

        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        width: 50%;

        margin-top: 15px;
        margin-left: 25%;
        margin-bottom: 20px;
    }

    .file-button {
        color: #000000;

        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        text-align: center;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 5%;

        margin-left: 5%;
        margin-bottom: 20px;
    }


    /*-----INDEX-----*/

    .favor-img {
        width: 25px;
    }



    ul {
        text-decoration: none;

    }

    li {
        text-decoration: none;
        list-style-type: none;
        display: inline-block;
    }

    #box {
        display: inline-block;
    }

    #pauze {
        height: 25px;
    }

    .text-primary {
        margin-top: 15px;
    }

    #all {
        height: auto;
        width: 90%;

        margin-bottom: 15px;
        margin-left: -5%;


    }


    #all-buurt {
        height: auto;
        width: 90%;

        margin-bottom: 15px;
        margin-left: -5%;
        margin-top: 2%;


    }

    #list {

        width: 95%;

        border-radius: 2.5px;
        border: 1px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);

        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 10px;

        margin-bottom: 15px;

    }



    #wrapper {
        width: 120px;
        height: 120px;

        margin-top: -15px;

        image-orientation: inherit;

        float: left;
        overflow: hidden;

        border-radius: 5%;

        border: 5px solid white;
    }

    #picture {
        background-size: cover;
        width: 120px;
        height: auto;
        float: left;

        position: absolute;
    }

    #splash-info {
        position: relative;
        z-index: 2;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: bold;
    }

    #foto {
        width: 120px;
    }

    #favor {
        height: 10%;
    }

    .fav-but {
        width: 20px;
    }



    #space {
        height: 10vh;

        z-index: -100;
    }

    img.zoekertje {
        width: 20px;
        height: auto;
    }

    .titel-index {
        font-family: "Josefin Sans";
        font-size: 20px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;

        line-height: 20px;

        text-align: center;

        margin-left: 0;
    }

    .space-favor {
        height: 20px;
    }

    /*-----favor-----*/
    #del-fav {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        border: none;
        border-radius: 5px;
        font-size: 0.8em;

        background-color: red;
        color: #ffffff;

        padding-top: 5px;
        padding-bottom: 5px;

        text-align: center;

        width: 75%;

        margin-top: 5px;
        margin-left: 10%;
        margin-bottom: 5px;
    }

    /*-----sell menu-----*/

    #unit {
        margin-left: 25px;
        margin-top: 1px;
    }

    .registerForm {
        padding-top: 5%;
    }

    .form-sell {
        width: 90%;
        margin-left: 5%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
        height: 50px;

        border: none;

        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 16px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    #top {
        margin-top: 0px;
    }

    #title {
        height: 50px;

        border: none;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    #description {
        height: 100px;

        border: none;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }


    #quantity {
        width: 130%;

        border: none;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }


    #price {

        width: 90%;

        border: none;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);

    }

    #currency {
        width: 110%;

        margin-left: 5%;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    .button+input {
        background-color: #d5d962;
        color: #ffffff;

        border: none;
    }


    #bedrag {
        display: flex;
        width: 90%;
    }

    #hoeveelheid {
        display: flex;
        width: 90%;
    }

    #item_image.button {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;

        margin-left: 25%;

        border: none;

        text-align: center;
        color: #000000;
    }

    #button_or {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 1.5em;

        border: none;
        border-radius: 1px;

        background-color: orangered;
        color: #ffffff;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;

        margin-left: 25%;
        margin-top: 7%;
    }

}