
/* ---------------DESKTOP VERSIE ---------------- */

@media only screen and (min-width: 900px) {

    /*----- algemeen -----*/

    html,body{
        height: 100%;
        margin: 0;
    }

    nav {
        height: 20vh;

        background-image: url("/images/background/header.png");
        background-repeat: no-repeat;
        background-size: 100%;
        top: 0;
        background-position: top;


    }

    /*-----SUB NAVIGATIE----- */

    .subMenu{
        width: 30%;
        margin-left: 35%;
        margin-top: -2%;
        margin-bottom: 2%;
        position: absolute;

    }
    .subIcon{
        opacity: 50%;
        width: 7%;
        margin-left: 8%;
        margin-right: 8%;
        padding-bottom: 10px;
        position: relative;
        vertical-align: top;
    }
    

    .subIcon:hover{
        opacity: 100%;

        border-bottom: 5px solid black;

    }

    .activated{
        opacity: 100%;

        border-bottom: 5px solid black;
    }


    /*-----NAVIGATIE BAR----- */

    .nav-img {
        display: none;

    }

    .listItem {
        text-decoration: none;
        list-style-type: none;
        display: inline-block;
        margin-left: 2%;
        margin-right: 2%;
    }
    .listItem a{

        color: #fff;
        font-size: 1.3em;
        margin-top: -4%;
        letter-spacing: 0.2em;
        padding-bottom: 5px;
        vertical-align: middle;
        position: relative;

    }



    .home-logo {
        display: none;
    }

    .alles {
        width: 50%;
        margin-top: 4.5%;
        display: inline-block;
        float: right;
    }


    .listItem a:hover {
        text-decoration: none;
        border-bottom: 3px solid white;
    }

    .card-text {
        font-family: "Josefin Sans";
        font-size: 1.1em;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;
    }

    a.navActive{


        text-decoration: none;
        border-bottom: 3px solid white;
        font-weight: 600;


    }


    /*-----bootstrap instel -----*/



    .container {
        margin-top: 10%;
    }

    #all-detail {
        height: auto;
        width: 100%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .card-img-top {
        border: none;
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }

    #detail-button {
        margin-left: auto;
        margin-right: auto;

        width: 20%;
    }

    .breed{
        width: 75%;
        margin: auto;
    }

    .breed:hover{
    
        cursor: pointer;
        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
                box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    
    }

    .card{
        background-color: #ffffff;
    }



    /*------settings - verwijder-modal-----*/
    .delete_account {

        background-color: #BE1818;
        color: white;
        font-family: "Josefin Sans";
        font-size: 1.2em;
        width: 13%;
        padding: 15px;
        border: none;
        margin: 10px;
        margin-top: 30px;
        outline: none;

    }

    .delete_account:hover {

        cursor: pointer;
        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
                box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        background-color: #D41C1C;        

    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /*----- Modal Content/Box -----*/
    .modalContent {
        background-color: #fefefe;
        width: 30%;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
    }

    .deleteButton{

        background-color: #BE1818;
        color: white;
        font-family: "Josefin Sans";
        font-size: 1.2em;
        width: 45%;
        margin-top: 20px;
        padding: 12px;
        border: none;
        margin-left: 27.5%;
    }

    .deleteButton:hover{
    
        cursor: pointer;
        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
                box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        background-color: #D41C1C;   
    
    }
    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /*------settings-----*/

    .settingsButton{

        background-color: orangered;
        color: #fff;
        width: 20%;
        padding: 15px;

        font-family: "Josefin Sans";
        font-size: 1.5em;
        margin: 10px;
        border: none;
    }

    .settingsButton:hover{
    
        cursor: pointer;
        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
                box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        background-color: #FF5419;

    }

    /*------settings - profiel-----*/

    .all-item_full {
        height: 100vh;
    }

    .all_item_profile{
        margin-top: 10%;
    }
    

    .item_profile {

        text-align: center;

        border-radius: 5px;

        margin-bottom: 15px;
    }

    .custom{
        width: 20% !important;

        border: none !important;

        font-family: "Josefin Sans";
        font-size: 25px !important;

        color: #ffffff !important;
        background-color: orangered !important;
    }

    .custom:hover{
        color: black !important;
        background-color: #d5d962 !important;
    }

    .instel:link{
        color: #ffffff;
    }

    .instel {
        text-decoration: none;

        width: 15%;

        color: #ffffff;

        font-family: "Josefin Sans";
        font-size: 25px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
    }
    


    /*-----Fonts-----*/

    .hoofdtitel {

        margin-left: 10%;

        color: #fff;

        margin-top: -120px;
        margin-bottom: 7%;
        font-family: "Josefin Sans";
        font-style: normal;
        font-size: 3em;
        font-variant: normal;
        font-weight: 500;

    }

    .subtitel {
        text-align: left;

        margin-left: 10%;

        color: orangered;

        margin-top: 10%;

        font-family: "Josefin Sans";
        font-style: normal;
        font-size: 2.5em;
        font-variant: normal;
        font-weight: 700;

    }

    .titel-index {
        font-family: "Josefin Sans";
        font-size: 2em;
        font-style: normal;
        font-variant: normal;
        font-weight: 600;
        color: orangered;

        line-height: 20px;


        width: 87%;

        text-align: center;

        margin-bottom: 2%;
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;

        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 25px;

        border-radius: 5px;

        background-color: #ffffff;

        box-shadow: 0px 0px 65px 20px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0px 0px 65px 20px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 65px 20px rgba(0,0,0,0.1);
        }

    /*-----profiel instellingen-----*/


    .profile-settings-image {
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: calc(17.5% - 125px + 5%);
    }

    .setImg{
        float: right;

        z-index: 15;
        margin-right: 10%;
        object-fit: cover;

        -webkit-box-shadow: inset 0px 0px 15px 17px #FFFFFF; 
                box-shadow: inset 0px 0px 15px 17px #FFFFFF;
        
    }

    .setImage{
        z-index: 14;
        position: relative;   
    }

    }

    .form-control-settings {
        width: 35%;
        height: 50px;

        margin-left: 5%;
        margin-top: 15px;

        padding-left: 15px;

        border: none;
        border-radius: 5px;

        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 16px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }


    .new-profile-image {
        width: 150px;
        height: 200px;
        object-fit: cover;

        margin-left: 3%;
    }

    .spacing-bottom {
        height: 100px;
    }

    .button-profile-img {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;

        border: none;
        border-radius: 5px;

        font-size: 1em;

        background-color: orangered;
        color: #ffffff;

        margin-left: 0%;
        margin-bottom: 20px;

        padding-top: 10px;
        padding-bottom: 10px;

        text-align: center;

        width: 250px;

        float: left;

        
    }


    .button-profile {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        border: none;
        border-radius: 5px;
        font-size: 1em;

        background-color: orangered;
        color: #ffffff;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;

        text-align: center;
        width: 10%;

        margin-top: 15px;
        margin-left: 17.5%;
        margin-bottom: 30px;
    }

    .file-button {
        color: #000000;

        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        text-align: center;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 5%;

        margin-bottom: 20px;
    }

    /* -----INDEX----- */


    #list {
        display: inline-block;
        text-decoration: none;
        list-style-type: none;
    }


    #box {
        display: inline-block;
    }

    #all {

        display: flex;

        height: auto;
        width: 90%;

        margin-bottom: 15px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;

    }

    #all-buurt {

        display: inline-block;

        height: auto;
        width: 90%;

        margin-bottom: 15px;
        margin-left: 5%;

    }

    #list {

        width: 255px;
        height: auto;

        border-radius: 2.5px;
        border: 1px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);


        padding-top: 15px;
        padding-bottom: 10px;

        margin-bottom: 15px;
        margin-left: 6%;

    }

    #wrapper {
        width: 100%;
        height: 200px;

        object-fit: cover;

        margin-top: -10px;

        float: left;
        overflow: hidden;

        border-radius: 2.5%;
    }

    #picture {
        background-size: cover;
        width: 100%;
        height: 200px;
        float: left;

        object-fit: cover;

    }

    #splash-info {
        position: relative;
        z-index: 2;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: bold;
    }

    #foto {
        width: 150px;
    }
    #knop1 {
        background-color: Transparent;
        border: none;
        overflow: hidden;
        outline: none;
        margin-left: 80%;
        position: absolute;
        margin-top: -30%;
        opacity: 100%;
    }
    #knop1:hover{
        opacity: 50%;
    }

    #knop2 {
        background-color: Transparent;
        border: none;
        overflow: hidden;
        outline: none;
        margin-left: 80%;
        position: absolute;
        margin-top: -30%;
        opacity: 50%;
    }
    #knop2:hover{
        opacity: 100%;
    }

    .fa-star {
        
        color: #d5d962;    
}

    .fav-but {
        width: 25px;
        margin-left: 45%;
    }

    .text-primary {
        font-family: "Josefin Sans";
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;

        margin: 12px;
        padding-top: 5px;
    }

    /*-----detail item/user page-----*/

    .boer-detail{
        margin-left: 25%;
        border: none;
        border-radius: 125px 5px 5px 125px !important;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    .detail{
        width: 90% !important;

        border: none !important;

        font-family: "Josefin Sans";
        font-size: 16px !important;

        color: #ffffff !important;
        background-color: orangered !important;
    }

    .detail:hover{
        color: black !important;
        background-color: #d5d962 !important;
    }
    
    .boer-img{
        border-radius: 50%;
        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    .chatColor{
        width: 20% !important;

        border: none !important;

        font-family: "Josefin Sans";
        font-size: 16px !important;

        color: #ffffff !important;
        background-color: orangered !important;
    }

    .chatColor:hover{
        color: black !important;
        background-color: #d5d962 !important;
    }

    /*-----search / items pagina-----*/
    .search-bar:hover{

        box-shadow: 1px 0px 25px 0px rgba(31, 31, 31, 0.5);

    }

    .form-control-search:hover{

        box-shadow: 1px 0px 25px 0px rgba(31, 31, 31, 0.5);

        cursor: pointer;
    }

    #button_or_search:hover{
        cursor: pointer;
        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        background-color: #FF5419;


    }




    .search-bar {
        width: 20%;
        height: 50px;

        margin-left: 17.5%;
        margin-top: 15px;

        padding-left: 25px;

        font-family: "Josefin Sans";
        font-size: 1.3em;
        font-weight: 400;

        float: left;

        border: none;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    .form-control-search {
        width: 20%;
        height: 50px;

        border: none;

        margin-top: 15px;
        margin-left: 50px;
        padding-left: 25px;

        font-family: "Josefin Sans";
        font-size: 1.3em;
        font-weight: 400;

        float: left;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }



    .zoekertje {
        width: 20px;
        height: auto;
    }


    #button_or_search {

        float: left;

        font-family: "Josefin Sans";
        font-size: 1.3em;
        font-weight: 400;

        border: none;

        background-color: orangered;

        color: #ffffff;

        padding-left: 15px;
        padding-right: 15px;


        width: 7%;
        height: 50px;

        margin-top: 15px;
        margin-left: 50px;


    }

    .priceLabel{

        margin-top: 30px;

    }

    .slidecontainer, .priceLabel{

        margin-left: 17.5%;

        font-family: "Josefin Sans";
        font-size: 1.3em;
        font-weight: 400;

      }

      input[type="range"].slider{

        width: 24.5%;
        color: #d5d962;
        -webkit-appearance: none;  
        appearance: none;

        height: 10px;
        background: #FCFFB6; 
        margin-top: 1%;
        margin-bottom: 1%;

      }

      .slider::-webkit-slider-thumb {
        -webkit-appearance: none; 
        appearance: none;
        width: 35px; 
        height: 50px; 
        border-radius: 20px;
        cursor: pointer;
        background: url('/images/icon/carrot.png');
        background-size: cover;


      }

      input[type="range"].slider:hover{

        background: #f7fa9b; 
        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);

      }
    /*-----sell menu-----*/

    #linker{
        margin-left: 10%;
    }

    #sell-img{
        height: 75%;
        right: 10%;
        top: 25%;
        z-index: 15;

        position: absolute;
    }
    
    #unit {
        float: right;
        margin-right: 30px;
        margin-left:10px;
        margin-top: 1px;

        width: 35%;
    }

    #kolom-file {
        margin-left: 9%;
    }

    .registerForm {
        padding-top: 5%;
    }

    .form-sell {
        width: 100%;
        height: 50px;

        float: left;

    }

    .form-sell-item {
        display: flex;
        width: 78%;
        margin-left: 10%;
        margin-top: 55px;
    }

    .form-control {
        width: 35%;
        height: 50px;

        margin-left: 10%;

        border: none;

        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 16px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    #top {
        margin-top: 0px;
    }

    #title {
        height: 50px;

        border: none;

        margin-top: 15px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    #description {
        height: 100px;
        
        margin-top: 30px;

        border: none;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }


    #quantity {
        border: none;

        width: 100%;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    #bedrag {
        display: flex;
        width: 100%;
    }

    #price {

        border: none;

        width: 180px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);

    }

    #currency {

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    #item_image.button {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;

        border: none;

        text-align: center;
        color: #000000;
    }

    .button+input {
        background-color: #d5d962;
        color: #ffffff;

        border: none;
    }

    #hoeveelheid {
        display: flex;
        width: 100%;
        margin-top: 95px;
        margin-left: -17px;
    }

    #item_image.button {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;

        border: none;

        text-align: center;
        color: #000000;
    }

    .button+input {
        background-color: #d5d962;
        color: #ffffff;
        border: none;
    }

    #button_or {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 1.5em;

        border: none;
        border-radius: 1px;

        background-color: orangered;
        color: #ffffff;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;

        margin-left: 25%;
        margin-top: 2%;
    }

    #button_orange {
        width: 35%;

        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 1.5em;

        border: none;
        border-radius: 1px;

        background-color: orangered;
        color: #ffffff;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;

        margin-left: 10%;
        margin-top: 2%;
    }

   /*-----cart/winkelkar-----*/

#cartPlaceholder{
    width: 50%;
    margin-left: 25%;
}

#expiry-date{
    font-family: "Josefin Sans";
    width:75px;
    margin-top: 5px;
    border: none;
}

#pp, #cd{
    margin-right: 15px;
    margin-left: 15px;
}

#expiry-date:hover{
    cursor: pointer;
    box-shadow: 1px 0px 10px 0px rgba(31, 31, 31, 0.2);
}


.label-expiry{
    margin-left: 15px;
    margin-right: 12px;
}

.label{
    font-family: "Josefin Sans";
    margin-right: 15px;
}

#label{
    margin-right: 15px !important;
}

.head-calc{
    margin-top: -15px;
}



.container-box {
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
    flex-direction: column;

    border: none;
}

.card-deco {
    border: none;
}

#expiry-date{
    margin-left: 15px;
}

.cardholdername{
    float: right;
    margin: 0;
    font-family: "Josefin Sans";

    border-bottom: solid 1px black;
    border-top: none;
    border-left: none;
    border-right: none;

}

.cardholdername:hover{
    cursor: pointer;
    box-shadow: 1px 0px 10px 0px rgba(31, 31, 31, 0.2);
}

.right{
    float: right;
    display: flex;
}

.left{
    display: flex;
}

.cardnumber{
    float: right;
    margin: 0;
    font-family: "Josefin Sans";
    border: none;
    border-bottom: solid 1px black;
    border-top: none;
    border-left: none;
    border-right: none;
}

.cardnumber:hover{
    cursor: pointer;
    box-shadow: 1px 0px 10px 0px rgba(31, 31, 31, 0.2);
}

.small-cardIcon {
    float: right;
    margin-right: 15px;
    width: 42px;
    height: 30px;
    margin-left: 10px;

    object-fit: cover;
}

.buy-all-items {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    width: 50%;
    margin-left: 25%;
    background-color: orangered;
    border: none;
    color: #fff;
    padding: 18px;
    border-radius: 5px;
    outline: none;
}


.info{
    margin-bottom: 5px;
    margin-top: 15px;
}

.radio{
    position: absolute;
    top: -2px;
    left: -20px;
    border: 3px solid #414365;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #292B52;
}

.radio::before{
    position: absolute;
    content: '';
    border-radius: 50%;
    top: 5px;
    left: 5px;
    width: 9px;
    height: 9px;
    background-color: transparent;
}


    /*-----favor-----*/


    #del-fav {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        border: none;
        border-radius: 5px;
        font-size: 0.8em;

        background-color: red;
        color: #ffffff;

        padding-top: 5px;
        padding-bottom: 5px;

        text-align: center;

        width: 100%;

        margin-top: 5px;
        margin-left: 5%;
        margin-bottom: 5px;
    }


    /*-----bought-----*/

   
    /*-----settings-----*/

    .instel {
        text-decoration: none;

        color: #000000;

        font-family: "Josefin Sans";
        font-size: 25px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
    }

    .all_item {
        margin-top: 10%;

    }

    .item {
        width: 35%;

        text-align: center;

        border-radius: 5px;

        background-color: #ffffff;

        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 32%;

        padding-top: 15px;
        padding-bottom: 15px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    #space {
        height: 10vh;
    }


    /*-----Chat----- */

    #chatnaam{
        color: #000;
        font-size: 1.5em;
        background-color: none;
        font-family: "Josefin Sans";
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        margin-top: 4%;
    }

    .chatImg{

        width: 110%;
        height: 300px;
        object-fit: cover;
        margin-left: -5%;

    }

    .chatPreview{

        background-color: white;
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        width: 12%;
        height: 370px;
        float: left;
        margin: 100px;
    }

    .chatPreview:hover{

        cursor: pointer;
        box-shadow: 1px 0px 25px 0px rgba(31, 31, 31, 0.5);


    }
    .notification{

        color: #fff;
        font-family: "Josefin Sans";
        font-size: 1.3em;
        text-align: center;
        vertical-align: middle;

        border-radius: 30px;
        padding: 10px;
        background-color: #d5d962;
        width: 50px;
        height: 50px;
        margin-left: 87%;
        position: absolute;
    }

    .navNotification{

        color: #fff;
        font-family: "Josefin Sans";
        font-size: 0.8em;
        text-align: center;
        vertical-align: middle;

        border-radius: 15px;
        background-color: #d5d962;
        width: 25px;
        height: 25px;
        margin-left: 97%;
        margin-top: -5%;
        position: absolute;
        padding-left: 4%;
        padding-top: 2%;
    }

.subNavNotification{

    color: #fff;
    font-family: "Josefin Sans";
    text-align: center;
    vertical-align: middle;

    border-radius: 15px;
    background-color: #d5d962;
    width: 25px;
    height: 25px;
    margin-left: 40%;
    margin-top: -13%;
    position: absolute;

}


.messagebox {
        max-height: 600px;
        overflow-y: scroll;
        margin-bottom: 20px;
    }

    .messageContent {
        display: block;
        clear: both;
    }

    .messageElement .container {
        margin-bottom: 20px;
    }

    .messageElement p {
        margin-top: 10px;
        max-width: 250px;
        word-wrap: break-word;
        border-radius: 10px;
        padding: 10px;
    }

    .messageContent small {
        position: relative;
        top: 3px;
    }

    #messageText{
        border-radius: 5px;

        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;

        padding: 5px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);

        width: 70%;        
    }


    /*-----footer-----*/

footer{

    background-color: #d5d962;
    padding: 30px;
    width: 100%;
    height: 200px;
    color: #fff;
    font-family: "Josefin Sans";
    margin-top: 100px; 
    bottom: 0;
    position: relative;
}

.footerCenter{
    width: 23.333333%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    height: 150px;
    

}
.footerLogo{
    width: 20%;
    margin-left: 40%;
}

.footerMenu{
    float: left;
    width: 23.333333%;
    margin-left: 5%;
    margin-right: 5%;
    height: 150px;
    padding-top: 2%;
    
}
.footerMenu ul{

list-style-type: none;
}
.footerMenu ul li a{
    color: #fff;
    float: left;
    margin-right: 4%;
    font-size: 1.2em;
}
.footerMenu ul li:first-child{

margin-left: -40px;

}
.footerMenu ul li a:hover{
    color: orangered;
    text-decoration: none;
}

.footerContact{
    float: left;
    width: 23.333333%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: right;
    height: 150px;
    right: 0;
    padding-top: 0.8%;
}
.footerContact a{

    color: #fff;
    font-size: 1.2em;

}

.footerContact a:hover{

    color: orangered;
    text-decoration: none;

}

.footerContact i{

    font-size: 2em;
    margin-left: 5%;
    margin-top: 10px;

}

/*---------------MOBIELE VERSIE---------------*/

@media only screen and (max-width: 900px) {

    /*-----bootsdtrap instel -----*/

    .card-body {
        background-color: white;
        padding: 0;
    }

    .container {
        margin-top: 10%;
    }

    #all-detail {
        height: auto;
        width: 100%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .card-img-top {
        border: none;
        width: 100%;
        height: 50vw;
        object-fit: cover;
    }

    #detail-button {
        margin-left: auto;
        margin-right: auto;

        width: 20%;
    }

    /*-----NAVIGATIE BAR----- */

    #navbar-full {
        width: 90%;
        height: 55px;
        position: fixed;
        background-color: #d5d962;
        top: 88%;
        margin: auto;
        margin-left: 3%;
        border-radius: 35px;

        z-index: 100;
    }

    .nav-img {
        width: 30px;
    }

    .listItem {
        display: inline-block;
        opacity: 80%;
        padding-left: 2.5%;
        padding-right: 2.5%;

    }

    .active {
        opacity: 100%;
    }

    .home-logo {
        display: none;
    }

    /*-----navbar - profiel-----*/
    .icon-full-nav-profile {
        margin-left: 10%;
    }

    .icons {
        width: 40px;
        height: 40px;

        margin-right: 15px;
        margin-left: 15px;


    }


    /*----search/item menu*/
    .search-bar {
        width: 250px;
        height: 30px;

        margin-left: 11%;
        margin-top: 15px;

        padding-left: 15px;

        font-family: "Josefin Sans";
        font-size: 18px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;

        border: none;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    .form-control-search {
        width: 260px;
        height: 30px;

        border: none;
        border-radius: 2px;

        margin-left: 8%;

        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 16px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }



    #button_or_search {
        display: inline-block;
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 1em;

        border: none;
        border-radius: 5px;

        background-color: orangered;

        color: #ffffff;


        text-align: center;

        width: 10%;

    }

    /*------settings - profiel-----*/


    .item_profile {
        width: 80%;

        text-align: center;

        border-radius: 5px;

        background-color: #ffffff;

        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 10%;

        padding-top: 15px;
        padding-bottom: 15px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    .instel {
        text-decoration: none;

        color: #000000;

        font-family: "Josefin Sans";
        font-size: 25px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
    }



    /*-----FONTS-----*/

    h2 {
        text-align: center;

        color: orangered;

        margin-top: 10%;

        font-family: "Josefin Sans";
        font-style: normal;
        font-size: 2.5em;
        font-variant: normal;
        font-weight: 700;
    }

    .subtitel {
        text-align: left;

        margin-left: 10%;

        color: orangered;

        margin-top: 10%;

        font-family: "Josefin Sans";
        font-style: normal;
        font-size: 1.5em;
        font-variant: normal;
        font-weight: 700;

    }


    .titel-index {
        font-family: "Josefin Sans";
        font-size: 18px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;

        line-height: 20px;

        width: 87%;

        margin-bottom: 2%;
        margin-top: 3%;
        margin-left: 25%;
        margin-right: 25%;

        padding-top: 15px;
        padding-bottom: 15px;

        border-radius: 5px;

        background-color: #ffffff;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }


    /*------settings - profiel-----*/


    .profile-settings-image {
        margin-left: 30%;
        margin-top: 5%;
    }

    .form-control-settings {
        width: 90%;
        height: 50px;

        margin-left: 5%;
        margin-top: 15px;

        border: none;

        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 16px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }


    .new-profile-image {
        width: 100%;
        height: auto;

        object-fit: cover;

    }

    .spacing-bottom {
        height: 100px;
    }

    .button-profile-img {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        border: none;
        border-radius: 5px;
        font-size: 1em;

        background-color: orangered;
        color: #ffffff;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        width: 50%;
        margin-left: 0%;
        margin-bottom: 20px;
    }


    .button-profile {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        border: none;
        border-radius: 5px;
        font-size: 1em;

        background-color: orangered;
        color: #ffffff;

        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        width: 50%;

        margin-top: 15px;
        margin-left: 25%;
        margin-bottom: 20px;
    }

    .file-button {
        color: #000000;

        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        text-align: center;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 5%;

        margin-left: 5%;
        margin-bottom: 20px;
    }


    /*-----INDEX-----*/

    .favor-img {
        width: 25px;
    }



    ul {
        text-decoration: none;

    }

    li {
        text-decoration: none;
        list-style-type: none;
        display: inline-block;
    }

    #box {
        display: inline-block;
    }

    #pauze {
        height: 25px;
    }

    .text-primary {
        margin-top: 15px;
    }

    #all {
        height: auto;
        width: 90%;

        margin-bottom: 15px;
        margin-left: -5%;


    }


    #all-buurt {
        height: auto;
        width: 90%;

        margin-bottom: 15px;
        margin-left: -5%;
        margin-top: 2%;


    }

    #list {

        width: 95%;

        border-radius: 2.5px;
        border: 1px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);

        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 10px;

        margin-bottom: 15px;

    }



    #wrapper {
        width: 120px;
        height: 120px;

        margin-top: -15px;

        image-orientation: inherit;

        float: left;
        overflow: hidden;

        border-radius: 5%;

        border: 5px solid white;
    }

    #picture {
        background-size: cover;
        width: 120px;
        height: auto;
        float: left;

        position: absolute;
    }

    #splash-info {
        position: relative;
        z-index: 2;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: bold;
    }

    #foto {
        width: 120px;
    }

    #knop {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        overflow: hidden;
        outline: none;
    }

    .favor-img {
        width: 25px;
    }

    #favor {
        margin-bottom: 15px;
    }

    #space {
        height: 10vh;
    }

    img.zoekertje {
        width: 20px;
        height: auto;
    }

    .titel-index {
        font-family: "Josefin Sans";
        font-size: 20px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;

        line-height: 20px;

        text-align: center;
    }

    .space-favor {
        height: 20px;
    }

    /*-----favor-----*/
    #del-fav {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        border: none;
        border-radius: 5px;
        font-size: 0.8em;

        background-color: red;
        color: #ffffff;

        padding-top: 5px;
        padding-bottom: 5px;

        text-align: center;

        width: 75%;

        margin-top: 5px;
        margin-left: 10%;
        margin-bottom: 5px;
    }

    /*-----sell menu-----*/

    #unit {
        margin-left: 25px;
        margin-top: 1px;
        display: flex;
    }

    .registerForm {
        padding-top: 5%;
    }

    .form-sell {
        width: 100%;
        margin-left: 5%;
        margin-top: 15px;
        margin-bottom: 15px;
    }    

    .form-control {
        width: 100%;
        height: 50px;

        border: none;

        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 16px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    #top {
        margin-top: 0px;
    }

    #title {
        height: 50px;

        border: none;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    #description {
        height: 100px;

        border: none;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }


    #quantity {
        width: 130%;

        border: none;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }




    #price {

        width: 90%;

        border: none;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);

    }

    #currency {
        width: 110%;

        margin-left: 5%;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    .button+input {
        background-color: #d5d962;
        color: #ffffff;

        border: none;
    }

    #hoeveelheid {
        display: flex;
        width: 90%;
    }

    #item_image.button {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;

        margin-left: 25%;

        border: none;

        text-align: center;
        color: #000000;
    }

    #button_or {
        font-family: "Josefin Sans";
        font-style: normal;
        font-variant: normal;
        font-size: 1.5em;

        border: none;
        border-radius: 1px;

        background-color: orangered;
        color: #ffffff;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;

        margin-left: 25%;
        margin-top: 7%;
    }

    /*-----Chat----- */

    .chatbox {
        border-radius: 15px;

        margin-right: 5%;
        margin-left: 5%;
        margin-top: 5%;

        padding: 20px;

        max-width: 80%;

        height: 60vh;

        font-family: "Josefin Sans";

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
    }

    .messagebox {
        max-height: 100px;
        overflow-y: scroll;
        margin-bottom: 20px;
    }

    .messageContent {
        display: block;
        clear: both;
    }

    .messageElement .container {
        margin-bottom: 20px;
    }

    .messageElement p {
        margin-top: 10px;
        max-width: 250px;
        word-wrap: break-word;
        border-radius: 10px;
        padding: 10px;
    }

    .messageContent small {
        position: relative;
        top: 3px;
    }

    #messageText{
        border-radius: 5px;

        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;

        padding: 5px;

        -webkit-box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);
        box-shadow: 1px 0px 25px 0px rgba(145, 145, 145, 0.5);

        width: 70%;        
    }

    


} 